.wppb-wrap{
	clear: both;
	margin: 10px 0px 0 2px;
}
.wppb-wrap,
.wppb-wrap p{
	font-size: 15px;
	max-width: 1050px;
}
.wppb-info-wrap{
	max-width:1050px;
	margin:25px 40px 0 20px;
}

.wppb-wrap h1 {
	color: #333333;
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.2em;
    margin:0;
	padding-top:35px;
}

.wppb-wrap .wppb-callout{
    font-size: 2em;
    font-weight: 300;
    line-height: 1.3;
	margin:1.1em 0 0.2em 0;
}

.wppb-wrap hr{
	display:block;
	clear:both;
	margin:20px 0;
}

.wppb-text{
	font-size:1.1em;
	margin-top:0;
}

.wppb-wrap ul{
	list-style-type:circle;
	list-style-position:inside;
}

.wppb-wrap li.description{
    font-style: italic;
}

.wppb-badge{
	float: right;
	color: #fff;
	display: inline-block;
    font-size: 14px;
    font-weight: 600;
    width: 150px;
	height: 150px;
	margin-bottom: 25px;
    text-align: center;
    text-rendering: optimizelegibility;
}

.wppb-badge.Pro{
	background:url(../images/pb-logo-pro.png) center no-repeat;
}

.wppb-badge.Hobbyist{
	background:url(../images/pb-logo-hobbyist.png) center no-repeat;
}

.wppb-badge.Free{
	background:url(../images/pb-logo-free.png) center no-repeat;
}

.wppb-badge.wppb-pb-pms{
	background:url(../images/pb-pms-cross-promotion-icon.png) center center no-repeat;
}

.wppb-badge {
    background-size: cover !important;
}

.wppb-badge span {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    margin-top: 110px;
    font-size: 90%;
}

/* Userlist page */
.wppb-ul-templates > textarea,
.wppb-single-ul-templates > textarea {
     float: left;
     width: 60%;
     max-width: 100%;
     height: 400px;
}

.update_container_wppb_ul_faceted_settings .row-facet-behaviour,
.update_container_wppb_ul_faceted_settings .row-facet-limit,
#container_wppb_ul_faceted_settings .row-facet-behaviour,
#container_wppb_ul_faceted_settings .row-facet-behaviour,
#container_wppb_ul_faceted_settings .row-facet-limit{
    display:none;
}

#container_wppb_ul_faceted_settings .facet_type_checkboxes .row-facet-behaviour,
#container_wppb_ul_faceted_settings .facet_type_checkboxes .row-facet-limit,
#container_wppb_ul_faceted_settings .update_container_wppb_ul_faceted_settings.facet_checkboxes .row-facet-behaviour,
#container_wppb_ul_faceted_settings .update_container_wppb_ul_faceted_settings.facet_checkboxes .row-facet-limit,
#container_wppb_ul_faceted_settings .facet_type_select_multiple .row-facet-behaviour,
#container_wppb_ul_faceted_settings .facet_type_select_multiple .row-facet-limit,
#container_wppb_ul_faceted_settings .update_container_wppb_ul_faceted_settings.facet_select_multiple .row-facet-behaviour,
#container_wppb_ul_faceted_settings .update_container_wppb_ul_faceted_settings.facet_select_multiple .row-facet-limit{
    display:block;
}


/* Extra Stuff */
.nowrap {
    white-space: nowrap;
}

.wppb-fields-image{
	margin-top:60px;
}


/* Shortcode */
.wppb-shortcode {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	background: #fff !important;
	padding: 5px 10px;
	margin-top: 5px;
	border: 1px solid #e1e1e1;
	box-shadow: none !important;
	font-family: 'Arial';
}

.wppb-shortcode.textarea {
	width: 100%;
	height: 1px;
	resize: none;
}

.wppb-shortcode:focus {
	border-color: #e1e1e1 !important;
}

.wppb-shortcode-temp {
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 11px;
	font-family: 'Arial';
}


/* Manage Fields page */
.profile-builder_page_manage-fields .metabox-holder .column-1{
	 /* margin-right:0; */
}

#container_wppb_manage_fields li strong{
	display:none !important;
}

#container_wppb_manage_fields li .description strong {
    display: inline !important;
}

#container_wppb_manage_fields .added_fields_list li.row-meta-name{
	display:list-item !important;
}

#container_wppb_manage_fields li.row-field-title pre,
#container_wppb_manage_fields li.row-meta-name pre{
	min-height:10px;
}

#wppb_manage_fields .ui-sortable label,
#container_wppb_manage_fields .ui-sortable label {
    background: #fff;
}

#wppb_manage_fields .sortable-handle,
#container_wppb_manage_fields .sortable-handle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../images/sorting-icon-dots.png') no-repeat center center;;
    vertical-align: middle;
    margin-right: 7px;
    cursor: move;
    margin-top: -1px;
}

#container_wppb_manage_fields pre{
	display:block;
	float:left;
	width:27%;
	font-family:"Open Sans", Arial, sans-serif;
	font-size:14px;
}

#container_wppb_manage_fields pre.wppb-mb-head-required,
#container_wppb_manage_fields li.row-required pre{
	width:auto;
    text-align: center;
}

#container_wppb_manage_fields thead tr{
	background:#f1f1f1;
}

#container_wppb_manage_fields thead tr:hover {
	background: #f1f1f1;
}

#container_wppb_manage_fields tr.update_container_wppb_manage_fields:hover{
	background:#fff;
}

#container_wppb_manage_fields tr:hover{
	background:#def6ff;
}

#wppb_manage_fields_info{
    display: none;
}

/* Extra Registration and Edit Profile fields */
#container_wppb_epf_fields li strong,
#container_wppb_rf_fields li strong{
    display:none !important;
}

#container_wppb_epf_fields pre,
#container_wppb_rf_fields pre{
    display:block;
    font-family:"Open Sans", Arial, sans-serif;
    font-size:14px;
    margin-top: 5px;
}

#container_wppb_epf_fields thead tr,
#container_wppb_rf_fields thead tr {
    background: #f1f1f1;
}
#container_wppb_epf_fields thead tr:hover,
#container_wppb_rf_fields thead tr:hover {
    background: #f1f1f1;
}
#container_wppb_epf_fields thead .wppb-delete-all-fields,
#container_wppb_rf_fields thead .wppb-delete-all-fields {
    color: #333;
    text-decoration: underline;
}

#container_wppb_epf_fields tbody .wck-delete,
#container_wppb_rf_fields tbody .wck-delete {
    padding: 8px 16px;
}

#container_wppb_epf_fields tr.update_container_wppb_epf_fields:hover,
#container_wppb_rf_fields tr.update_container_wppb_rf_fields:hover{
    background:none;
}

#container_wppb_epf_fields tr:hover,
#container_wppb_rf_fields tr:hover{
    background:#def6ff;
}
#container_wppb_epf_fields .wck-content{
    content: "" !important;
}

#wppb_rf_page_settings .row-url, #wppb_rf_page_settings .row-display-messages, .update_container_wppb_rf_page_settings.redirect_ .row-url,
.update_container_wppb_rf_page_settings.redirect_ .row-display-messages, .update_container_wppb_rf_page_settings.redirect_no .row-url,
.update_container_wppb_rf_page_settings.redirect_no .row-display-messages{
    display:none;
}

#wppb_rf_page_settings.update_container_wppb_rf_page_settings.redirect_yes .row-url, #wppb_rf_page_settings.update_container_wppb_rf_page_settings.redirect_yes .row-display-messages{
    display: block;
}

#wppb_epf_page_settings .row-url, #wppb_epf_page_settings .row-display-messages, .update_container_wppb_epf_page_settings.redirect_ .row-url,
.update_container_wppb_epf_page_settings.redirect_ .row-display-messages, .update_container_wppb_epf_page_settings.redirect_no .row-url,
.update_container_wppb_epf_page_settings.redirect_no .row-display-messages{
    display:none;
}

#wppb_epf_page_settings.update_container_wppb_epf_page_settings.redirect_yes .row-url, #wppb_epf_page_settings.update_container_wppb_epf_page_settings.redirect_yes .row-display-messages{
    display: block;
}

/* Columns :) */
.wppb-row{
	overflow:hidden;
}

.wppb-3-col > div {
	float:left;
	width:28%;
	margin-right:5%;
}

.wppb-2-col > div {
	float:left;
	width:45%;
	margin-right:5%;
}

.wppb-3-col > div:last-child,
.wppb-2-col > div:last-child{
	margin:0;
}

.wppb-1-3-col > div {
	float:left;
	width:28%;
	margin-right:5%;
}
.wppb-1-3-col > div:last-child{
	float:right;
	width: 67%;
	margin:0;
}
/* Extra Form Styles */
.wppb-text{
    min-width: 16.4em;
}
.wppb-select {
	min-width:18em;
}

.wppb-wrap .form-table th {
	width: 400px;
}

.wppb-metabox label{
	display:inline-block;
	min-width:15em;
}

/* Admin Bar Page */
.wppb-admin-bar label{
	margin-right:30px;
	padding:5px;
}

/* modules Page */
.wppb-modules label{
	margin-right:30px;
	padding:5px;
}

/* Metabox Clone. We need this in various places to simulate the css of a normal metabox. */
.wppb-side{
	width:300px;
	float:right;
	clear:both;
}

.wppb-metabox h3{
	font-size: 14px;
    line-height: 1.4;
    margin: 0;
	padding:8px 12px;
	cursor:default !important;
}

.wppb-normal{
	margin-right:320px;
}

.wppb-metabox textarea{
	resize:vertical;
	background-color: #ecf8fd;
    font-family: Consolas,Monaco,monospace;
    font-size: 13px;
}

.wppb-metabox .inline-wrap{
	width:280px;
	float:left;
}
.wppb-highlight{
	background:#333333;
	background:#222222;
	background:#fff;
	padding:20px;
}
.wppb-userlisting-slider, .wppb-list-users-slider{
	display:block;
	padding:10px;
	border:1px solid #ccc;
	font-family: Consolas,Monaco,monospace;
    font-size: 13px;
	margin-top:20px;
}
#wppb_manage_fields .mb-list-entry-fields .field-label{
	max-width: 179px;
}

#container_wppb_epf_fields .row-id,
#wppb_epf_fields .row-id,
#container_wppb_rf_fields .row-id,
#wppb_rf_fields .row-id{
	display:none;
}

.wppb-wrap #serial_number{
	font-weight: 600;
    line-height: 1.3;
    padding: 20px 10px 20px 0;
    text-align: left;
	color: #222222;
	font-size:14px;
}

#wppb_profile_builder_pro_serial{
    width:460px;
    padding: 5px;
}

.wppb-wrap .wppb-serialnumber-descr{
    display: block;
	padding: 0px 0px 0px 95px
}

.wppb-backend-notice{
    display: inline-block;
	line-height: 16px;
	padding: 11px;
	font-size: 14px;
	text-align: left;
	margin: 0 0 5px 0;
	background-color: #fff9e8;
	border:1px solid #ffba00;
	border-radius:3px;
}

/* hide "View post" link from update messages on internal post types */
.post-type-wppb-ul-cpt #message.updated a, .post-type-wppb-rf-cpt #message.updated a, .post-type-wppb-epf-cpt #message.updated a{
    display:none;
}


#wppb_ul_page_settings .row-visible-to-following-roles, .update_container_wppb_ul_page_settings.visible_to_logged_ .row-visible-to-following-roles{
    display:none;
}

#wppb_ul_page_settings.update_container_wppb_ul_page_settings.visible_to_logged_yes .row-visible-to-following-roles{
    display: block;
}

/* Add-Ons page */
.wppb-add-on-user-messages{ display: none; }

.wppb-add-on-wrap .plugin-card-bottom:after {
    display: block;
    content: '';
    clear: both;
}

.wppb-add-on .spinner {
    visibility: visible;
}

.wppb-add-on a:focus {
    box-shadow: none;
}

.wppb-add-on img {
    max-width: 100%;
    height: auto;
}

.wppb-add-on .wppb-add-on-title {
    letter-spacing: -0.7px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.wppb-add-on .wppb-add-on-title a {
    text-decoration: none;
    color: inherit;
}

.wppb-add-on .wppb-add-on-price {
    font-size: 1.1em;
    letter-spacing: -0.7px;
    margin-top: 7px;
}

.wppb-add-on-compatible span {
    line-height: 28px;
}

.wppb-add-on-not-compatible {
    position: relative;
}

.wppb-add-on-not-compatible:before {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: #d54e21;
    top: 0;
    left: 0;
}

.wppb-add-on .button {
    position: relative;
}

.wppb-add-on .button.wppb-add-on-deactivate {
    opacity: 0;
}

.wppb-add-on .spinner {
    display: block;
    margin-top: 4px;
    opacity: 0;
}

.wppb-add-on-spinner {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/spinner.gif') no-repeat center;
}

.wppb-recommended-plugin{
    width:49%;
    margin:0 0 16px 0;
}

.wppb-recommended-plugin.plugin-card:nth-child(odd){
    clear:none;
    float:right;
    margin-right: 0;
}

.wppb-recommended-plugin.plugin-card:nth-child(even){
    clear:none;
}

.wppb-recommended-plugin .wppb-add-on-description{
    min-height: 38px;
}

@media screen and (max-width: 768px){
    .wppb-recommended-plugin{
        width:100%;
    }
}

.wppb-confirmation-success {
    color: #27ae60;
}

.wppb-confirmation-error {
    color: #c0392b;
}

/* Manage Fields Responsive CSS */
@media screen and ( max-width: 1125px ) {
    /* Manage Fields Responsive */
    #container_wppb_manage_fields th.wck-content pre{
        display:none;
    }
    #container_wppb_manage_fields li strong{
        display: inline-block !important;
        font-size: 14px;
        font-family: "Open Sans",Arial,sans-serif;
    }
    #container_wppb_manage_fields pre{
        display: inline;
        float:none;
        width:auto;
    }
    #container_wppb_manage_fields li strong{
        width:100px !important;
    }
}
/* Basic Information Buttons - for Free to Pro upgrade*/
.wppb-button-free {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 29px;
    line-height: 26px;
    margin: 0;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
    background: none repeat scroll 0 0 #e14d43;
    border-color: #b2401b;
    -webkit-box-shadow: 0 1px 0 #ba281e !important;
    box-shadow: 0 1px 0 #ba281e !important;
    color: #fff !important;
    vertical-align:top;
    text-shadow: 0 -1px 1px #ba281e,1px 0 1px #ba281e,0 1px 1px #ba281e,-1px 0 1px #ba281e !important;
}
p .wppb-button-free {
    vertical-align: baseline;
}
.wppb-button-free:hover {
    background: #e14d43;
    border-color: #ba281e;
    color: #fff;
}

/* PMS Compatibility page */
#pms-bottom-install .plugin-card-bottom{
	border:none;
	background: #e86054;
	color:#fff;
}

#pms-bottom-install .plugin-card-bottom span{
	display: inline-block;
	margin-top:7px;
}

#pms-bottom-install  .wppb-add-on-download, #pms-bottom-install a{
	font-size: 130%;
	padding: 10px 20px;
	height: auto;
	color: #e86054;
	text-decoration: none;
}

#pms-bottom-install a:hover{
	background: #fff;
	text-decoration: none;
}

#pms-bottom-install .wppb-confirmation-success{
    color:#FFFFFF;
}

#wppb_ul_search_settings .wck-checkboxes > div{
    display: inline-block;
    margin-left:7px;
}

.mb-table-container .wck-state-highlight{
    height:45px;
}

/**************************************************/
/* Extra styling for admin notices
/**************************************************/
div.wppb-notice {
    position: relative;
}

div.wppb-notice:after {
    display: block;
    content: '';
    clear: both;
}

div.wppb-notice.wppb-narrow {
    max-width: 825px;
}

div.wppb-notice .notice-dismiss {
    text-decoration: none;
}

.wrap div.wppb-admin-notice {
    margin-bottom: 0;
}